@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');

:root {
    --font-family: 'Bai Jamjuree', sans-serif;
    --bg-color: #EEEEEE;
    --primary-color: #363636;
    --second-color: #DAE2B6;
    --third-color: #ffffff;

}


html {
    background: var(--bg-color);
}

.card {
    min-width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-self: center;
    text-align: left;
    margin-left: 60%;
    margin-top: 5%;
    font-family: var(--font-family);
}

.cardfront {
    min-width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-self: center;
    text-align: left;
    margin-left: 60%;
    margin-top: 5%;
    font-family: var(--font-family);
}

.name {
    min-width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-self: center;
    text-align: left;
    margin-left: 60%;
    margin-top: 5%;
    font-family: var(--font-family);
}

.cardnumber{
    min-width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-self: center;
    text-align: left;
    margin-left: 60%;
    margin-top: 5%;
    font-family: var(--font-family);
}

.date {
    min-width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-self: center;
    text-align: left;
    margin-left: 60%;
    margin-top: 5%;
    font-family: var(--font-family);
}

.cvc {
    min-width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-self: center;
    text-align: left;
    margin-left: 60%;
    margin-top: 5%;
    font-family: var(--font-family);
}

.buttonconfirm {
    min-width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    text-align: center;
    margin-left: 60%;
    margin-top: 5%;
    font-family: var(--font-family);
}
